/* css library */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

body {
    background-color:#fff;
}

p, h1, h2, h3, h4, li {
    color:#000;
    z-index:2;
}

li a:hover {
    color:#fff;
    transition-duration:0.4s;
}

.navigation svg {
    position:absolute;
    height:100px;
    width:auto;
    right:10px;
    top:10px;
    z-index:1;
}

.navigation a {
    text-decoration:none;
    color:#000;
}

.navigation {
    width:auto;
    height:auto;
    margin:auto;
}

.navigation ul {
    position:relative;
    left:800px;
    z-index:2;
    font-size:2rem;
    display:block;
    list-style-type:none;
    text-decoration:none;
}

.navigation ul li {
    float:left;
    margin-top:30px;
    margin-left:50px;
    margin-right:50px;
}

.background-logo svg {
    width:50%;
    height:auto;
    z-index:1;
}

.hometext p {
    font-size:1.5rem;
    position:relative;
    top:350px;
    right:200px;
}

.cta {
    font-size:2rem;
}

.cta p {
    position:relative;
    bottom:375px;
    left:250px;
}

.cta svg {
    width:100%;
    height:auto;
    position:absolute;
    bottom:25px;
}