/* css library */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

/* General Styles */
body {
    background-color:#fff;
}

p, h1, h2, h3, h4, li {
    color:#000;
    z-index:2;
    font-family:sans-serif;
}

li a:hover {
    color:#fff;
    transition-duration:0.4s;
}

/* Navigation Styles for all pages */
.navigation svg {
    position:absolute;
    height:100px;
    width:auto;
    right:10px;
    top:10px;
    z-index:1;
}

.navigation a {
    text-decoration:none;
    color:#000;
}

.navigation {
    width:auto;
    height:auto;
    margin:auto;
}

.navigation ul {
    position:relative;
    left:800px;
    z-index:2;
    font-size:2rem;
    display:block;
    list-style-type:none;
    text-decoration:none;
}

.navigation ul li {
    float:left;
    margin-top:30px;
    margin-left:50px;
    margin-right:50px;
}

.background-logo svg {
    width:50%;
    height:auto;
    z-index:1;
}

.hometext p {
    font-size:1.5rem;
    position:relative;
    top:350px;
    right:200px;
}

/* Site Tagline for homepage */
.cta {
    font-size:2rem;
}

.cta p {
    position:relative;
    bottom:375px;
    left:250px;
}

.cta svg {
    width:100%;
    height:auto;
    position:absolute;
    bottom:25px;
}

/* About Us */
.abt-info {
    font-size:1.5rem;
    position:relative;
    bottom:450px;
}

.abt-info h1 {
    font-size:2rem;
    text-align:center;
    font-weight:600;
}

.abt-info p {
    font-size:1rem;
    text-align:center;
}

.container-abt {
    background-color:#7DC95E;
    border-radius:10px;
    width:750px;
    height:auto;
    margin:auto;
}